<!DOCTYPE html>
<html lang="eu" lang="eu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">
<body>
    <main class="userForm" layout:fragment="custom-main">
        <form action="/login" method="post">
            <label>
                <input type="text" name="username" value="" placeholder=""/>
            </label>
            <label>
                <input type="password" name="password" value="" placeholder=""/>
            </label>
            <button type="submit">Sartu</button>
        </form>
    </main>
</body>
</html>